var exports = module.exports = {
    seisoClient: {
    url: 'http://seiso-host.domain.com/api',
    username: 'seiso-user',
    password: 'seiso-password-base64'
  },
  queue: 'https://sqs.REGION.amazonaws.com/USERID/QUEUENAME',
  arn: 'arn:aws:sqs:REGION:USERID:QUEUENAME',
  queuePrefix: 'prefix',
  listenerCredentials: {
    secretAccessKey: 'SECRETKEY', 
    accessKeyId: 'ACCESSKEY', 
    queue: "",
    region: 'REGION'
  },
  listener: { queue: 'http://sqs.REGION.amazonaws.com/USERID/QUEUENAME' },
  feeder: {}
}
